ul.hardware {
    list-style-type: none;
    border: 1px solid #666;
}

li.hardware {
    display: inline-block;
    padding: 15px;
}

.record_from {
    border-left: 10px solid #f60;
}

.red_notice {
    background-color: #d99;
}

.green_notice {
    background-color: #bfb;
}

.camera_image {
    width: 180px;

}

.camera_recording {
    color: #f00;
}

.microphone_recording {
    color: #f00;
}

.recording_circle{
    width: 160px;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f00;
}

.recording_circle_config{
    width: 160px;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #0c0;
}
